<style> 
    
/* *************************** 
         General 
***************************** */
body{
       background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(89,71,247,1) 70%);

}
li a span strong {
  color:#ff4134 !important;
}
.break-line {
  border-top:1px solid #ccc;
}
#price-span span {
  background-color:#fff;
}
/*div#mobile-nav ul li a {
  color:#fff;
}*/
/* *************************** 
          Wrapper 
***************************** */
#wrapper {

  -webkit-perspective: 900px;
  perspective: 900px;
  width: 100%;
  margin: 0 auto;
  background: rgb(255,255,255);
  background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(89,71,247,1) 70%);
  background: -o-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(89,71,247,1) 70%);
  background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(89,71,247,1) 70%);
}
img {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  overflow: hidden;
}
/* *************************** 
             Nav 
***************************** */
nav ul li a {
  color:#fff;
}

/* *************************** 
         pricing-row1 
***************************** */
#pricing-row1 {
  margin-top: 50px;
}
#pricing-row1 h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 120px;
}
.pricing{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
li p {
  margin: 0;
  text-align: center;
}
.pricing ul.plan-ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 5px;
  background: #fff;
  position: relative;
  width: 250px;
  margin-right: 10px;
  margin-bottom: 1em;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.pricing ul.plan-ul:first-child:hover, .pricing ul.plan-ul:last-child:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  z-index: 100;
  -webkit-box-shadow: 0 0 10px gray;
  box-shadow: 0 0 10px gray;
}
.pro {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  display: none;
  -webkit-box-shadow: -2px 1px 19px 1px rgba(0,0,0,0.75);
  box-shadow: -2px 1px 19px 1px rgba(0,0,0,0.75);
  z-index: 100;
}
.pricing ul.plan-ul li{
  margin: 10px 20px;
  position: relative;
}
li strong {
  color: #555;
}
.pricing ul.plan-ul li.title{
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  border-bottom: 5px solid white;
}
.pricing ul.plan-ul:nth-of-type(2){
  background: #fff;
}
.pricing ul.plan-ul:nth-of-type(3){
  background: #fff;
}
.pricing ul.plan-ul:last-of-type{
  margin-right: 0;
}
.pricing ul.plan-ul li:last-of-type{
  text-align: center;
  margin-top: auto;
}
li.plan-title{
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
li p{
  font-family: 'Questrial', sans-serif;
}
#includes-ul1, #includes-ul2, #includes-ul3 {
  list-style: disc;
  border:0;
  text-align: left;
}
#includes-ul1 li p, #includes-ul2 li p, #includes-ul3 li p{
  text-align: left;
  color: darkgray;
  font-size: 12px;
}
.pricing a.pricebutton{
  background: #000;
  text-decoration: none;
  padding: 10px 50px;
  display: inline-block;
  margin: 10px auto;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
}
.plan-ul {
  border-top: 9px solid #f64c72;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.monthly {
  font-size:.5em;
  color:black;
  text-align: center;
}
/* *************************** 
           Row 2 
***************************** */
#row2 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 140px;
}
#row2-title {
  margin-top: 80px;
}
#soundcloud img{
  max-width: 100%;
}
table, th, td {
  border: 1px solid transparent;
}
#table-div table {
  border-collapse: collapse;
  border: 10px solid #444;
  margin: 50px auto;
}
th {
  height:50px;
  background-color: #000;
  color: #fff;
}
td{
  padding: 10px;
  background-color: #D0E7E8;
}
#table-div {
  width: 100%;
}

/* ******************************************************                                @media
*********************************************************/
@media only screen and (max-width: 530px) {
.pricing ul.plan-ul{
  border-radius: 0;
  width: 100%;
  margin-right: 0;
  }
.pricing ul.plan-ul:hover{
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  }
.pricing a.pricebutton{
  display: block;
  }
}
  
@media screen and (min-width: 768px) and (max-width: 959px){

/*nav ul{
  padding-left: 0;
  }*/
/*.main-nav img {
  width: 30%;
  margin: 14px auto 0px auto;
  }*/
#row2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 0 ;
  width: 100%;
  }
.blog2-div {
  width: 80%;
  }
.blog2-title {
  margin: 0 auto;
  }
#pricing-row1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  }
#blog1-div {
  width: 80%;
  margin: 0 auto;
  -webkit-box-ordinal-group:3;
  -ms-flex-order:2;
  order:2;
  }
#blog1-title {
  width: 100%;
  margin: 0 auto;
  }
#blog1-title p , #blog1-title h2 {
  padding: 30px;
  }
#login-box {
  width: 50%;
  margin: 0 auto 40px auto;
  padding: 80px ;
  }
}
      
      
@media screen and (max-width: 767px) {
  
/*nav{
  display: none;*/
  
#row2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  }
#pricing-row1 {
  padding: 10px;
  margin: 0;
  }

.blog2-div {
  width: 100%;
  padding: 0;
  }
.blog2-title {
  margin: 0 auto;
  }
#pricing-row1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 110px;
  }
#blog1-div {
  width: 100%;
  margin: 0 auto;
  -webkit-box-ordinal-group:3;
  -ms-flex-order:2;
  order:2;
  }
#blog1-title {
  width: 100%;
  margin: 0 auto;
  }

#login-box {
  width: 100%;
  margin: 0 auto 140px auto;
  padding-bottom: 40px;
  }
form input[type="submit"] {
  width: 92%;
  }
#wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  }
#more {
  margin-top: 20px;
  }
body {
  margin: 0;
  padding: 0;
  }
.pro {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1) 
  }
}
/* END of Media */

    </style>
