body {
      letter-spacing: 2px;
}

.profile ul li {
    font-weight: bold;
}

.profile-pic  {
    width: 30%;
    padding-left: 25px;
}

.main-info{
    width: 70%;
    margin-left:25px;
}

.profile-info {
    font-weight: 300;
}

.yellow-row {

    padding-top:20px;
}

.yellow-row h2.fullname {
    text-align: center;
}

.yellow-row .fullname {
    color:white;
}

.yellow-row .extras-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;

}

.info1{
    display: flex;
    justify-content: space-between;
}

.info2-l-wrapper2 ul li {
    font-weight: 400;
    color:#aaa;
}

.btn-div1{
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-end;
    margin: 20px;
}

.success-msg {
    background-color:#aefb8c;
 
    text-align: center;
    transition: 2s;

}
.success-msg p {
    padding:12px;
    margin: 0;
}

.contact-h3 {
    text-align: center;
}



.location{
    text-align: center;
    width:33.33%;
}

.location p {
    color:#f2f2f2;
    font-weight: bold;
}

.more-info{
    display: flex;
    justify-content: space-around;
    border-top: 4px solid #fff;
    flex-wrap: wrap;
    
}

.more-info p {
    color:#fff;
    
}

.comments {
    display: flex;
    justify-content: space-around;
    border-bottom: solid 3px #fff;
    
}
.comments h1 {
    color:#666;
}
.comment-num{
    color:#FF6B6A;
}

.comments i {
    color:lightseagreen;
    font-size: 50px;
}

.name-wrapper{
    font-size:24px;
}

.btn{
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-color: #ff5134;
    font-size: 14px;
    border: none;
    transition: .2s;
}
.btn:hover {
    color:#333;
    background-color:#fff;
    transform: scale(1.1);
}
.name-of-user{
    margin: 0 auto;
}
.nick {
    margin:0 auto;
    color:#2289e0;
    font-weight: 600;
}

.info2 {
    display: flex;
}
.info1{
    padding:30px;
}
.info2-left{
    width: 30%;
}
.info2-right{
    width: 70%;
   
}
p.info-label-small{
    font-size: 14px;
    color:#ccc;
    font-weight: 600;
    margin-top: 20px auto 0 auto !important;
}
p.info-number{
    font-weight: bold;
    font-size: 29px;
    margin:0 auto;
}
.spaced-info {
    margin-right: 50px;
}
table#contact-table{
    border-color: white;
}
table#contact-table td, table#contact-table th {
    border:none;
}

td{font-weight: 600;}


/* Style tab links */
.tablink {
  background-color: #fff;
  color: #777;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  text-align: left;
}

.tablink:hover {
  color:#2289e0;
}


/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: #333;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {color:#333;}
#News {background-color: #fff;}
#Contact {background-color: blue;}
#About {background-color: orange;}

@media screen and (max-width: 960px){
    .info1{
        flex-direction: column;
    }
    .main-info{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .profile-pic{
        margin: 0 auto;
        padding-left: 0;
        width: auto;
    }
    .marker-icon{
        display: none;
    }
    .btn-div1 {
        justify-content: center;
    }
    .info2{
        flex-direction: column;
    }
    .info2-left{
        width: auto;
        margin: 0 auto;
    }
    .info2-right{
        width: 100%;
    }
    .info2-right button{
        text-align: center;
            }
    .tablink{
        width: 50%;
    }
    .info2-l-wrapper2{
        display: none;
    }
    .admin-btn{
        margin:0 !important;
    }
}

@media screen and (min-width: 500px) and (max-width: 960px){
    .info1{
        /*flex-direction: row;*/
        border-bottom: 1px solid #ccc;
    }
    .info2{
        
    }
    .btn-div1 {
       /* width: 15%;
        display: block;*/
        margin:11px auto;

    }
    .signout-form{
        text-align: center;
        margin-right: 10px;
    }
    .profile-pic img{
        border:5px solid #0c1b2b;
    }
    .main-info{
        border-bottom: none !important;
    }
    .info2-l-wrapper1{
        
    }
    .info2-l-wrapper2{
        display: none;
        flex-direction: column;
    }
    .info2-left{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        padding:30px 0 10px 0 !important;
        background-color: #555;
        color: white;

    }
    .info-label-small{
        border-bottom: none !important;
    }
    .info2-right{
        border-top:1px solid #ccc;
    }

}