/*
    ──────▄▀▄─────▄▀▄              W W W !!
    ─────▄█░░▀▀▀▀▀░░█▄         E O  
    ─▄▄──█░░░░░░░░░░░█──▄▄   M
    █▄▄█─█░░▀░░┬░░▀░░█─█▄▄█
||||||||||||||||||||||||||||||
|||                        |||
|||       Milad Darani     |||
|||    WDD - Capstone      |||
|||          2020          |||
|||  Instructor: S. GEORGE |||
|||                        |||
||||||||||||||||||||||||||||||

*/ 

/* *************************** 
        General 
***************************** */

* {
  box-sizing: border-box;
}
body {
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  margin: 0;
}


.break-line {
  border-top: 1px solid #ccc;
}
/* *************************** 
         Wrapper 
***************************** */
#wrapper {
  -webkit-perspective: 900px;
  perspective: 900px;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}
/* *************************** 
        Nav Mobile 
***************************** */
#mobile-nav {
  padding-bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: -450px;
    /*disappear mobile menu */
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  text-align: center;
}

.burger:hover + #mobile-nav {
    /* Mobile appear on hover */
  margin-top: 0;
}
#mobile-nav:hover {
  margin: 0;
}

#mobile-nav ul {
  list-style: none;
  padding-left: 0;
}

#mobile-nav img {
  width: 50%;
  padding-bottom: 60px;
}

#mobile-nav ul li {
  padding: 25px;
  text-align: center;
}

#mobile-nav ul li a {
  text-decoration: none;
  color: #444;
  padding: 25px;
}

#mobile-nav ul li:hover {
  background-color: #FF6B6B;
  -webkit-box-shadow: 8px 5px .2px rgb(123, 226, 248,.6);
  box-shadow: 8px 5px .2px rgb(123, 226, 248,.6);
}

#mobile-nav ul li:hover a {
  color: #fff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.burger {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: inline-block;
  margin: 20px 0 0 20px;
}

.burger:hover > #mobile-nav {
  -webkit-transform: scale(1.0);
  -ms-transform: scale(1.0);
  transform: scale(1.0);
}

.burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  float: right;
  margin: 3px 0;
  border-radius: 30px;
  position: absolute;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  opacity: 1;
}

.burger span:nth-of-type(2) {
  top: 7px;
}

.burger span:nth-of-type(3) {
  top: 14px;
}

.burger:hover span:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 6px;
  background-color: red;
}

.burger:hover span:nth-of-type(2) {
  opacity: 0;
}

.burger:hover span:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 6px;
  background-color: red;
}

/* *************************** Nav ***************************** */
.main-nav {
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 15px;
}

nav ul li {
  padding-top: 10px;
  margin-left:5px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

nav ul li:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

nav ul li a {
  text-decoration: none;
  color: #444;
  padding: 14px;
 }

.hidden {
  display: none;
}

nav ul li:hover a{
  color: white;
}

nav ul li:hover a {
  background-color: black;
  color: #fff;
  -webkit-box-shadow: 8px 5px .2px rgb(123, 226, 248,.6);
  box-shadow: 8px 5px .2px rgb(123, 226, 248,.6);
  border-radius: 5px;
}

.active {
  background-color:#ff4134;
  color: #fff ;
  -webkit-box-shadow: 8px 5px .2px rgb(123, 226, 248,.6);
  box-shadow: 8px 5px .2px rgb(123, 226, 248,.6);
  border-radius: 5px;
}

nav ul li:active a {
  background-color: #B3E3B5;
  color: #555;
  border: 1px solid #FF6B6B;
}
.navigation-wrapper .active {
  background-color: peachpuff;
}

.jquery-comments .commenting-field.main{
  display: flex;
}
.jquery-comments .textarea-wrapper{
  width: 80%;
}
.jquery-comments img {
  border-radius: 100px;
  max-width: 59px;
}
.comment-wrapper {
  padding-top: 30px;
   border-top: 1px solid #ddd;
   padding-bottom: 100px;
}

.comment-wrapper button{
  width: 100%;
  padding: 25px;
  background-color: #56d962;
}

.inside-wrap{
  display: flex;
}

.inside-wrap img{
  width: 60px;
  border-radius: 50px;
  border: 1px solid #666;
}

.inside-wrap textarea {
  border:1px solid #ccc;
  width: 60%;
  margin-right: 10px;
}

.send-btn{
  width: 21%;
}

.comment-wrapper{
  display: flex;
  flex-direction: column;
  background-color: #ddd;
}

.other-comments-wrapper{
  margin-top:50px;
  display: flex;
  background-color: #f2f2f2;
  width: 90%;
  margin: 0 auto;
}

.other-comments-p {
  width: 90%;
}

.comment-name {
  display: flex;
  padding: 0 60px;
}

nav ul li a:active {
}

nav img {
  margin-top: -100px;
  margin-bottom: -100px;
}

/* *************************** Flash MSG ***************************** */
.flash{
    width: 100%;
    line-height: 39px;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-bottom:20px;
}
.flash-err{
    background-color: #f8807b;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}
.flash-success{
  background-color: #98eb98;
}
/* *************************** Row1 ***************************** */
#row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: antiquewhite;
  padding-bottom: 40px;
}

#sound-bar {
  display: flex;
  margin-right:210px; 
  margin-top:50px;
}
#sound-bar3 {
  display: none;
  
}
#sound-bar svg, #sound-bar3 svg {
  margin-top: 54%;
  display: inline;
  overflow: visible;
  padding-right: 100px;
}

#slogan {
  margin-left: 8%;
  margin-top: 4%;
}
#layer_1 {
  width: 350px;
  display: none;
}
#social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width:481px;
  height:59px;
  margin-top: 7%;
}

#facebook {
  width: 7%;
  margin-top: 20px;
}

#twitter, #instagram {
  width: 7%;
  margin-top: 20px;
  margin-left: 30px;
}

#yellow-bar{
  background-color: black;
  width: 137px;
  height:50px;
  position: absolute;
  transition: 1s ease-in-out;
}

#black-bar{
  background-color: black;
  width: 170px;
  height:50px;
  position: absolute;
  transition: 1s ease-in-out;
}

.success-msg {
  background-color: #bafaba;
}

.success-msg p {
  padding:12px;
  margin: 0;
}

.err-msg{
  background-color: #fababa;
}

.hidden{
  display: none;
}

.flash {
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.flash-area{
  list-style: none;
  padding:  12px;
  text-align: center;
  font-weight: 500;
}

.page-wrapper p{
  padding: 0 60px;
}

/* *************************** Row 2 ***************************** */
#break, #break1, #break2 {
  margin-bottom: 100px;
  margin-top: 100px;
}

.soundcomet-image-wrapper {
  max-width:805px;
  margin:0 auto
}

#amp, #spkr, #key, #knob  {
  width: 10%;
}

.box {
  border: 1px solid #ccc;
  margin-bottom: 2%;
  border-radius: 15px;
  width: 70%;
  box-sizing: border-box;
}

.speaker, .amplifier {
  margin-top: 50px;
  margin-left: 20px;
  padding: 10px;
}

.amplifier {
  -webkit-transition: color .3s, -webkit-transform .6s ease-in-out, -webkit-box-shadow .6s ease-in;
  transition: color .3s, -webkit-transform .6s ease-in-out, -webkit-box-shadow .6s ease-in;
  -o-transition: transform .6s ease-in-out, box-shadow .6s ease-in, color .3s;
  transition: transform .6s ease-in-out, box-shadow .6s ease-in, color .3s;
  transition: transform .6s ease-in-out, box-shadow .6s ease-in, color .3s, -webkit-transform .6s ease-in-out, -webkit-box-shadow .6s ease-in;
}

.amplifier:hover {
  -webkit-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  transform: skewY(2deg);
  -webkit-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
  background-color: lightgreen;
  border: 0;
  color: #333;
  -webkit-box-shadow: 2px 6px 2px rgba(0,0,0,.6);
  box-shadow: 2px 6px 2px rgba(0,0,0,.6);
}

.speaker {
  -webkit-transition: color .3s, -webkit-transform .6s ease-in-out, -webkit-box-shadow .6s ease-in;
  transition: color .3s, -webkit-transform .6s ease-in-out, -webkit-box-shadow .6s ease-in;
  -o-transition: transform .6s ease-in-out, box-shadow .6s ease-in, color .3s;
  transition: transform .6s ease-in-out, box-shadow .6s ease-in, color .3s;
  transition: transform .6s ease-in-out, box-shadow .6s ease-in, color .3s, -webkit-transform .6s ease-in-out, -webkit-box-shadow .6s ease-in;
  -webkit-box-shadow: 12px 16px 2px rgba(0,0,0,.6);
  box-shadow: 12px 16px 2px rgba(0,0,0,.6);
  background-color: #ea80fa;
  border-right: 3px solid #333;
  border-bottom: 1px solid #000;
  background-color: #ea80fa;
  color: #fff;
  -webkit-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  transform: skewY(-2deg);
}

.speaker:hover {
  -webkit-transform: skewY(0deg);
  -ms-transform: skewY(0deg);
  transform: skewY(0deg);
  -webkit-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
  background-color: #fff;
  background-size: 400% 400%;
  border: 0;
  color: #333;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,.6);
  box-shadow: 0px 0px 0px rgba(0,0,0,.6);
}

.keyboard {
  -webkit-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

.keyboard:hover {
  -webkit-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  transform: skewY(-2deg);
  -webkit-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
  background-color: #333;
  background-size: 400% 400%;
  border: 0;
  color: #fff;
  -webkit-box-shadow: 2px 6px 2px rgba(0,0,0,.6);
  box-shadow: 2px 6px 2px rgba(0,0,0,.6);
}

.knob {
  -webkit-transition: color .3s, -webkit-transform .6s ease-in-out, -webkit-box-shadow .6s ease-in;
  transition: color .3s, -webkit-transform .6s ease-in-out, -webkit-box-shadow .6s ease-in;
  -o-transition: transform .6s ease-in-out, box-shadow .6s ease-in, color .3s;
  transition: transform .6s ease-in-out, box-shadow .6s ease-in, color .3s;
  transition: transform .6s ease-in-out, box-shadow .6s ease-in, color .3s, -webkit-transform .6s ease-in-out, -webkit-box-shadow .6s ease-in;
  -webkit-box-shadow: 12px 16px 2px rgba(0,0,0,.6);
  box-shadow: 12px 16px 2px rgba(0,0,0,.6);
  margin-top: 20px;
  margin-right: 30px;
  padding: 10px;
  border-right: 3px solid #333;
  border-bottom: 1px solid #000;
  background-color: #E63946;
  color: #fff;
  -webkit-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  transform: skewY(2deg);
}

.knob:hover {
  -webkit-transform: skewY(0deg);
  -ms-transform: skewY(0deg);
  transform: skewY(0deg);
  -webkit-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
  background-color: #fff;
  background-size: 400% 400%;
  border: 0;
  color: #333;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,.6);
  box-shadow: 0px 0px 0px rgba(0,0,0,.6);
}

.sound-pro-container{
  width: 100%;
}
.sound-pro-play{
  font-size: 55px;
  padding:30px;
  text-align: center;
  color: #12cbcb;
}

.row3-sound-pro {
  background-color:  #0c1b2b;
  color:white;
  margin: 0;
  text-align: center;
}

.row3-sound-pro h1, .try-row h1 {
  margin: 0;
  padding: 30px;
}

.row3-sound-pro h1{
  text-align: center;
  font-weight: 600;
  padding-bottom: 40px;
  padding-top: 70px;
}

.soundcloud{
  width: 100%;
  background-color: #0c1b2b;
}

.widget{
  border-radius: 0 !important;
}

.soundcloud-wrapper{
  width:75%;
  margin:0 auto;
}

.success-msg {
  background-color: #bafaba !important;
}
.success-msg p {
  padding:12px;
  margin: 0;
}

.err-msg{
  background-color: #fababa;
}

.hidden{
  display: none;
}

.flash {
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.hidden{
  display: none;
}

.flash-area{
  list-style: none;
  padding:  12px;
  text-align: center;
  font-weight: 500;
}

.sound-pro-wrapper{
  display: flex;
  width: 100%;
  background-color: #0c1b2b;
  padding-bottom: 10px;
}

.sound-pro-box{
  background-color:#0c1b2b;
  margin-bottom: :10px;
  border-right:.3px solid white;
  width: 33%;
  color:white;
  text-align: center;
  padding:30px;
  max-width: 100%;
}

.sound-pro-box:last-child{
  border:none;
}

.try-row{
  background-color: #0c1b2b;
  color: white;
  margin: 0;
  text-align: center;
  padding-bottom: 80px;
}

.try-btn {
  border-radius: none;
  background-color: #42cbcb;
  border:none;
  padding:10px 5px;
  color:white;
  font-family: Quicksand;
  font-weight: bold;
  font-size: 24px;
  transition: .3s;
}

.try-btn:hover {
  background-color:#E63946;
  color:#fff;
}

.hear-it p, .hear-it h2 {
  color:white;
}
.soundcloud{
  display: flex;
  padding-top: 60px;
}
.soundcloud-wrapper{
  width: 50%;
}
.hear-it{
  display: flex;
  flex-direction: column;
  padding:15px 35px;
  text-align: center;
  width: 50%;
}

.hear-it-content{
  display: flex;
  flex-direction: column;

}

.hear-it-content p {
  width: 70%;
  margin: 0 auto;
  border: 1px solid white;
  padding: 30px;
}
.text {
  margin-bottom: 20px;
}

.try-btn2:hover {
  background-color:black;
  color:#fff;
}
.try-btn3{
  padding:15px;
 
  font-size:20px;
  font-family: Quicksand;
  width:50%;
  margin:80px auto 10px auto;
  color:#555;
  font-weight: 700;
  background-color: white;
  transition: .3s;
  cursor: pointer;
}
.try-btn3 a {
  text-decoration:none;
  color:#555;
  padding: 20px;
}
.try-btn3 a:hover{
  color:white;
}
.try-btn3:hover {
  background-color:#ff7700;
  border-color: #ff7700;
  color:white;
}

.try-h1 {
  font-size: 50px;
}

.try-p {
  font-size: 24px;
}

#comment-table a{
  text-decoration:none;
  color: #222;
}

.title-size{
  width: 215px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.blog-menu {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
  transition: .3s;

}

.blog-menu li {
  padding:2px;
  border-bottom: 2px solid white;
  transition: .2s;
}

.blog-menu li a {
  color:white;
  text-decoration: none;
  padding: 14px 20px;
  transition: .3s;
  font-size: 20px;
}

.blog-menu li:hover a {
  
  color:#6090fc; 
  border-box: box-sizing;
  font-weight: 400;
}

/* @MEDIA */
@media  screen and (max-width: 768px) {
    .sound-pro-wrapper {
      flex-direction: column;
    }
    .sound-pro-box{
      width: 100%;
      border:none;
      border-bottom: .1px solid #ccc;
    }
}
/* /@MEDIA*/

.col-img {
  flex-basis: 1 !important;
  margin-bottom: 40px;
}

i.arrow-icon {
  font-size:30px;
  padding:0;
}

a.blog-a {
  color:white; padding:25px;
  transition: .5s;
}

a.blog-a:hover {
  border:1px solid white;
  text-decoration:none;
  background-color: #ddd;
  color:#333;
}

.arrow-container{
  padding-bottom: 30px;
}

.blog-btn{
  margin: 0 auto;
  padding: 30px;
  border-radius: 2px;
}

.video-row{
  height: 600px;
  display: flex;
  width: 100%;
  background-image: url("../images/video-bg-blur2-small.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  z-index: -8000;
  text-align: center;
}

.video-circle{
  color: white;
  font-size:65px;
  text-align: center; 
  transition: .3s;
}

.video-circle:hover {
  color:#42cbcb;
}

.head-1 p {
  text-align: center;
  font-size: 20px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding-bottom: 30px;
}

.head-1 {
  text-align: center;
  width: 100%;
}

.video-row .head-1 h1 {
  font-size: 40px;
  font-weight: 700;
  color:white;
  text-align: center;
  margin-top: 100px; 
}

.slides {
  background-color: #0c1b2b;
  display: flex;
  color:white;
  text-align: center;
}

.blog-head{
  margin: 0 auto;
}

.blog-head h1 {
  font-size: 40px;
  margin-bottom: 0;
}

.blog-head p {
  font-size: 24px;
  margin-top: 5px;
}

.blog-head-p {
  padding:5px 60px;
}

.blog-head a {
  padding: 30px;
  background-color: 
}

#under-p {
  font-size:15px !important;
  border-bottom: 1px solid white;
  margin-bottom: 40px;
}

/* @MEDIA */
@media screen and (max-width: 1000px){

  .soundcloud {
    flex-direction: column;
    padding-bottom: 50px;
  }

  .soundcloud-wrapper{
    width: 80%;
    margin: 0 auto;
  }

  .hear-it{
    width: 100%;
  }

  .try-btn3{
   
  }


  .hear-it-content p {
    font-size: 22px;
  }
  .slides{
    flex-direction: column;
  }

  .rslides {
    margin:0 auto !important;
    padding-top: 80px;
    max-width: 100% !important;
  }

  #under-p {
    margin-bottom: 80px;
  }

}
/* /@MEDIA */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: 0;
  text-align: center;
  background-color: #e02258;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  max-width: 100%;
  padding-bottom: 11px;
}

#row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top:30px;
  padding-bottom: 70px;
}

#row2-side-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#row2-wrapper {
  padding: 90px;
  margin-top: 0px;
  padding-top: 0;
}

#row2-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

#row2-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

/* *************************** Right-side ***************************** */
#right-side {
  width: 60%;
  margin-top: 10px;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

#right-side svg {
  width: 50%;
  margin-top: 25%;
  margin-left: 25%;
}

.soundcomet-info {
  font-weight: 100;
  padding-right: 20px;
  width: 80%;
}

#button2 {
  margin-top: 15%;
}

#finish-heading {
  margin-bottom: 70px;
}

/* *************************** Video Image ***************************** */

.soundcomet-image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.soundcomet-image-wrapper img {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 100%;
  margin-top: 10px;
  width:60%;
  border: 2px solid #fff;
  border-radius: 3px;
  padding: 0;
  -webkit-transition: 1.0s;
  -o-transition: 1.0s;
  transition: 1.0s;
  border-radius: 7px;
}

.border-shape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
}

@-webkit-keyframes dial-move {
  0% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
  }

  70% {
    -webkit-transform: rotate(-29deg);
    transform: rotate(-29deg);
  }
}

@keyframes dial-move {
  0% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
  }

  70% {
    -webkit-transform: rotate(-29deg);
    transform: rotate(-29deg);
  }
}

@-webkit-keyframes dial-move-right {
  0% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
  }

  70% {
    -webkit-transform: rotate(29deg);
    transform: rotate(29deg);
  }
}

@keyframes dial-move-right {
  0% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
  }

  70% {
    -webkit-transform: rotate(29deg);
    transform: rotate(29deg);
  }
}

#dial {
  fill: #ff4133;
  -webkit-animation: dial-move 1.2s ease-in-out;
  animation: dial-move 1.2s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: 51% 50%;
  -ms-transform-origin: 51% 50%;
  transform-origin: 51% 50%;
}

/* *************************** Row3 ***************************** */

.h1-div {
  text-align: center;
}

#metro {
  width: 9%;
}

#row3 {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#right-p-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#right-p, #right-p-2 {
  width: 40%;
  margin-top: 50px;
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: .5px solid #eee;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 8px 5px 12px rgba(123, 226, 248,.6);
  box-shadow: 8px 5px 12px rgba(123, 226, 248,.6);
  -webkit-animation: glow 6s ease-in-out infinite;
  animation: glow 6s ease-in-out infinite;
}

@-webkit-keyframes glow {
  0% {
    -webkit-box-shadow: 8px 5px 12px rgba(123, 226, 248,.6);
    box-shadow: 8px 5px 12px rgba(123, 226, 248,.6);
  }

  30% {
    -webkit-box-shadow: 8px 5px 12px rgba(249, 118, 118, .6);
    box-shadow: 8px 5px 12px rgba(249, 118, 118, .6);
  }

  50% {
    -webkit-box-shadow: 8px 5px 12px rgba(249, 118, 118, .6);
    box-shadow: 8px 5px 12px rgba(249, 118, 118, .6);
  }

  70% {
    -webkit-box-shadow: 5px 8px 12px rgba(234, 128, 250, .6);
    box-shadow: 5px 8px 12px rgba(234, 128, 250, .6);
  }
}

@keyframes glow {
  0% {
    -webkit-box-shadow: 8px 5px 12px rgba(123, 226, 248,.6);
    box-shadow: 8px 5px 12px rgba(123, 226, 248,.6);
  }

  30% {
    -webkit-box-shadow: 8px 5px 12px rgba(249, 118, 118, .6);
    box-shadow: 8px 5px 12px rgba(249, 118, 118, .6);
  }

  50% {
    -webkit-box-shadow: 8px 5px 12px rgba(249, 118, 118, .6);
    box-shadow: 8px 5px 12px rgba(249, 118, 118, .6);
  }

  70% {
    -webkit-box-shadow: 5px 8px 12px rgba(234, 128, 250, .6);
    box-shadow: 5px 8px 12px rgba(234, 128, 250, .6);
  }
}

#right-p-2 img {
  width: 8%;
  border-radius: 10%;
  margin: 0 auto;
}

#right-p img {
  width: 9%;
  border-radius: 10%;
  margin: 0 auto;
}

.soundcomet-image-wrapper {
  height:450px;
}

/* *************************** 
           Row 4 
***************************** */

/* -------Cassette-------*/
#cassette {
  width: 60px;
  fill: #E63946;
  margin-bottom: 0px;
}

#left-circle-g {
  -webkit-animation: spin 2s linear backwards;
  animation: spin 2s linear backwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: 25% 49%;
  -ms-transform-origin: 25% 49%;
  transform-origin: 25% 49%;
  fill: #0185cc;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(365deg);
    transform: rotate(365deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(365deg);
    transform: rotate(365deg);
  }
}

#right-circle-g {
  -webkit-animation: spin 2s linear backwards;
  animation: spin 2s linear backwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: 75% 49%;
  -ms-transform-origin: 75% 49%;
  transform-origin: 75% 49%;
  fill: #0185cc;
}
/* ------End Cassette------*/

.our-review {
  border: 1px solid #ccc;
  width: 800px;
  margin: 0 auto;
  padding: 0;
  padding-left: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.right-image-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.jrocky-image {
  width: 100%;
  padding: 0;
  height: 100%;
}

.signature img {
  margin-left: -50px;
}

.signature h3 {
  margin-bottom: 0;
}

.review-wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.our-review p {
  font-weight: 100;
  margin-bottom: 60px;
  padding-right: 20px;
}

.title-4 {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.square-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
  display: none;
}

.square-shared {
  padding: 2px;
  margin: 2px;
}

.square-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.square0 {
  width: 50px;
  height: 75px;
  margin-top: 50px;
  border-radius: 400px;
  margin-right: 50px;
  background: -o-linear-gradient(230deg, #9e9e9e, #76ffb3, #e6a0f6);
  background: linear-gradient(220deg, #9e9e9e, #76ffb3, #e6a0f6);
  background-size: 400% 400%;
  -webkit-animation: gradient-play 10s ease infinite;
  animation: gradient-play 10s ease infinite;
}

.square {
  width: 50px;
  height: 100px;
  margin-top: 80px;
  border-radius: 400px;
  background: -o-linear-gradient(230deg, #9e9e9e, #76ffb3, #e6a0f6);
  background: linear-gradient(220deg, #9e9e9e, #76ffb3, #e6a0f6);
  background-size: 400% 400%;
  -webkit-animation: gradient-play 10s ease infinite;
  animation: gradient-play 10s ease infinite;
}

.square1 {
  width: 50px;
  height: 150px;
  margin-top: 50px;
  border-radius: 400px;
  margin-left: 50px;
  background: -o-linear-gradient(230deg, #9e9e9e, #76ffb3, #e6a0f6);
  background: linear-gradient(220deg, #9e9e9e, #76ffb3, #e6a0f6);
  background-size: 400% 400%;
  -webkit-animation: gradient-play 10s ease infinite;
  animation: gradient-play 10s ease infinite;
}

.square2 {
  width: 50px;
  height: 175px;
  border-radius: 400px;
  margin-left: 50px;
  background: -o-linear-gradient(230deg, #9e9e9e, #76ffb3, #e6a0f6);
  background: linear-gradient(220deg, #9e9e9e, #76ffb3, #e6a0f6);
  background-size: 400% 400%;
  -webkit-animation: gradient-play 10s ease infinite;
  animation: gradient-play 10s ease infinite;
}

.square3 {
  width: 50px;
  height: 200px;
  margin-top: 100px;
  border-radius: 400px;
  margin-left: 50px;
  background: -o-linear-gradient(230deg, #9e9e9e, #76ffb3, #e6a0f6);
  background: linear-gradient(220deg, #9e9e9e, #76ffb3, #e6a0f6);
  background-size: 400% 400%;
  -webkit-animation: gradient-play 10s ease infinite;
  animation: gradient-play 10s ease infinite;
}

.square4 {
  width: 50px;
  height: 175px;
  margin-top: 60px;
  border-radius: 400px;
  margin-left: 50px;
  background: -o-linear-gradient(230deg, #9e9e9e, #76ffb3, #e6a0f6);
  background: linear-gradient(220deg, #9e9e9e, #76ffb3, #e6a0f6);
  background-size: 400% 400%;
  -webkit-animation: gradient-play 10s ease infinite;
  animation: gradient-play 10s ease infinite;
}

.squar5 {
  width: 50px;
  height: 200px;
  border-radius: 400px;
  margin-left: 50px;
  background: -o-linear-gradient(230deg, #9e9e9e, #76ffb3, #e6a0f6);
  background: linear-gradient(220deg, #9e9e9e, #76ffb3, #e6a0f6);
  background-size: 400% 400%;
  -webkit-animation: gradient-play 10s ease infinite;
  animation: gradient-play 10s ease infinite;
}

.squar6 {
  width: 50px;
  height: 175px;
  border-radius: 400px;
  margin-left: 50px;
  background: -o-linear-gradient(230deg, #9e9e9e, #76ffb3, #e6a0f6);
  background: linear-gradient(220deg, #9e9e9e, #76ffb3, #e6a0f6);
  background-size: 400% 400%;
  -webkit-animation: gradient-play 10s ease infinite;
  animation: gradient-play 10s ease infinite;
}

.square7 {
  width: 50px;
  height: 150px;
  border-radius: 400px;
  margin-left: 50px;
  background: -o-linear-gradient(230deg, #9e9e9e, #76ffb3, #e6a0f6);
  background: linear-gradient(220deg, #9e9e9e, #76ffb3, #e6a0f6);
  background-size: 400% 400%;
  -webkit-animation: gradient-play 10s ease infinite;
  animation: gradient-play 10s ease infinite;
}

.square8 {
  width: 50px;
  height: 100px;
  margin-top: 52px;
  border-radius: 400px;
  margin-left: 50px;
  background: -o-linear-gradient(230deg, #9e9e9e, #76ffb3, #e6a0f6);
  background: linear-gradient(220deg, #9e9e9e, #76ffb3, #e6a0f6);
  background-size: 400% 400%;
  -webkit-animation: gradient-play 10s ease infinite;
  animation: gradient-play 10s ease infinite;
}

.square9 {
  width: 50px;
  height: 75px;
  margin-top: 52px;
  border-radius: 400px;
  margin-left: 50px;
  background: -o-linear-gradient(230deg, #9e9e9e, #76ffb3, #e6a0f6);
  background: linear-gradient(220deg, #9e9e9e, #76ffb3, #e6a0f6);
  background-size: 400% 400%;
  -webkit-animation: gradient-play 10s ease infinite;
  animation: gradient-play 10s ease infinite;
}

/* *************************** 
          Keyframes 
***************************** */
@-webkit-keyframes gradient-play {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient-play {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.knob {

}

.keyboard {
  margin-top: 50px;
  margin-right: 30px;
  padding: 10px;
}

/* *************************** 
            Row 5 
***************************** */
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
/* -------- Metronome ------- */
#row5-left {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#row5-left svg {
  width: 75%;
}
/* ------ End Metronome ----- */
.break5 {
  margin: 100px 0 0 0;
}

#row5 {
  -webkit-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  background: -webkit-gradient(linear, right top, left top, from(#6f42c1), color-stop(#ff6b6b), to(#55d5e7));
  background: -o-linear-gradient(right, #6f42c1, #ff6b6b, #55d5e7);
  background: linear-gradient(270deg, #6f42c1, #ff6b6b, #55d5e7);
  background-size: 400% 400%;
  padding: 0;
  margin: 0;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#row5-left {
  width: 50%;
}

#row5-right {
  width: 50%;
  margin-bottom: 40px;
}

#row5-right p {
  color: #c0c0c0;
  font-weight: 400;
  margin-bottom: 50px;
  width: 50%;
}
/* *************************** 
           footer 
***************************** */
#footer {
  background: #222;
  padding: 20px;
  margin: 0;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

#footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 98%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.footer-item4 {
  width: 100%;
}

p#twitter-icon img {
  width: 34px;
}

p#youtube-icon img {
  width: 38px;
}

.sm-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.sm-icons img {
  padding-right: 20px;
  width: 20px;
}

.first-date-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
}

.date {
  border: 1px solid #fff;
  padding: 5px;
  width: 65px;
  height: auto;
  text-align: center;
  vertical-align: middle;
}

input[type=submit].footer-submit {
  width: 20%;
}

.tb-form-field input.footer-email {
  width: 70%;
}

#footer h3 {
  color: #fff;
}

.footer-item {
  width: 33%;
}

div.footer-item2 {
  width: 50%;
}
.footer-item4 {
  color: #fff;
  width: 26%;
  margin-top: -92px;
}
.footer-item1 {
  color: #fff;
  width: 30%;
  border: 2px solid #fff;
  text-align: center;
}

.footer-item1 img {
 max-width: 100%;
 padding: 10px; 
}

.red-line {
  border-bottom: 2px solid #FF6B6B;
  width: 100px;
}

.footer-item1 p {
  color: #adb7bf;
}

.date-title a {
  text-decoration: none;
  color: #adb7bf;
}

.privacy a {
  text-decoration: none;
  color: #adb7bf;
  margin-right: 10px;
}

.privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sound-bar2 svg {
  width: 50%;
  margin-bottom: -80px;
}
/* *************************** 
            Buttons 
***************************** */
.myButton {
  background-color: #FF6B6B;
  border-radius: 28px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  padding: 16px 40px;
  text-decoration: none;
  margin-top: 5%;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.myButton:hover {
  background-color: #4ECDC4;
  color: white;
  -webkit-box-shadow: 5px 2px 2px rgba(0,0,0,0.6);
  box-shadow: 5px 2px 2px rgba(0,0,0,0.6);
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.myButton:active {
  position: relative;
  top: 1px;
}
/* *************************** 
           Form 
***************************** */
.tb-form-field input {
  width: 200px;
  height: 30px;
}

.tb-form-field input[placeholder] {
  font-family: 'Quicksand', sans-serif;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: -4px;
  border-style: none;
  padding-left: 10px;
}

input[type=submit] {
  background-color: #95C623;
  color: #fff;
  padding: 6px 10px 26px 10px;
  margin-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-style: none;
  font-weight: 500;
  font-size: 16px;
  vertical-align: middle;
}
/* *************************** 
          keyframes 
***************************** */
@keyframes dial-move {
  0% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
  }

  70% {
    -webkit-transform: rotate(-19deg);
    transform: rotate(-19deg);
  }
}

@keyframes dial-move-right {
  0% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
  }

  70% {
    -webkit-transform: rotate(19deg);
    transform: rotate(19deg);
  }
}

@-webkit-keyframes bouncing {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bouncing {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bouncing2 {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  60% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

@keyframes bouncing2 {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  60% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

@-webkit-keyframes bouncing3 {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  60% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

@keyframes bouncing3 {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  60% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
/* *************************** 
          bouncing 
***************************** */
.bounce {
  -webkit-animation: bouncing 1s ease-in;
  animation: bouncing 1s ease-in;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bounce2 {
  -webkit-animation: bouncing2 1s ease-in;
  animation: bouncing2 1s ease-in;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bounce3 {
  -webkit-animation: bouncing3 1s ease-in;
  animation: bouncing3 1s ease-in;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/* ******************************************************                         @media ******************************************************* */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
   /* IE10+ specific styles go here */  

  div#right-p-wrapper {
    flex-direction: column;
  }
  #right-p, #right-p-2 {
    width:100%;
  }
  .our-review p {
    width:80%;
  }
  #cassette {
    margin-bottom:-30px;
  }
  .signature img {
    margin-top: 67px;
  }
  #right-p-2 img, #right-p img {
    width:40px;
  }
  #sound-bar {
    display: inline-block;
    margin-top: -300px;
  }
  #right-p-wrapper{
    flex-direction: column;
  }
  .soundcomet-image-wrapper {
    height: 450px;
    margin:0 
  }
  .tb-form input[type=submit] {
    margin-left: -11px; !important
    margin-top: -9px; !important
  }
}


@media screen and (min-width: 960px) {
  #mobile-nav, .burger {
    display: none;
  }

}

@media screen and (min-width: 1250px) {
  #row2-a, #row2-b {
    max-width: 700px;
  }

  #mobile-nav, .burger {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  #mobile-nav, .burger {
    display: none;
  }
 

  .main-nav {
    
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0px auto 20px auto;
  }

  nav ul {
    padding-left: 0;
  }

  nav ul li a {
    padding: 15px;
  }

  .main-nav img {
    width: 30%;
    margin: -86px auto -100px auto;
    
  }

  body #row1 {
    padding-top: 50px;
  }

  #sound-bar {
    -webkit-box-align: center;
    -ms-flex-align: center;
    
  }

  #social-media {
    margin: 0 auto;
    margin-left: 12px;
  }

  #row2-wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin-top: 0;
  }

  #break {
    margin-bottom: 20px;
  }

  #row2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  #row2-a {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  }

  #row2-b {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  #right-side {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    width: 100%;
    text-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
  }

  div.knob {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  #button2 {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .soundcomet-info {
    padding-right: 110px;
    text-align: center;
  }

  .square-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }

  #row3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  #right-p {
    margin-right: 10px;
  }

  div#right-p-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  #row2-side-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #row3 {
    margin: 0 auto;
  }

  #row5-left {
    width: 30%;
  }

  #row5-right {
    width: 100%;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  #row5-right p {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto 40px auto;
    color: #fff;
    font-weight: 400;
  }

  .square-cover {
    display: none;
  }
}


@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro&display=swap");
body {
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  display: block;
  left: 0;
  right: 0;
}

.main {
  text-align: center;
  padding-top: 5rem;
}
.main h5 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
}
.main h1 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin: 0.75rem 2rem 0.75rem;
}
.main .authorlink {
  text-align: center;
  font-size: 16px;
  color: #0875ff;
  text-decoration: none;
  margin-bottom: 2rem;
  display: block;
  font-family: sans-serif;
}
.main figure {
  width: 100%;
  margin: 0 auto;
}

.fl {
  float: left;
}

.main .share {
  height: 60px;
  display: flex;
  position: absolute;
  background: white;
  padding-top: 0.75rem;
  padding-left: 4rem;
  padding-bottom: 0.75rem;
  align-items: center;
  justify-content: center;
}

.main .share a {
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.blog2-title img {
  border: 1px solid white;
}

.main .share a svg {
  width: 24px;
  height: 24px;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}
.two {
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  width: 100%;
  display: block;
  margin: 1rem 0 0 0rem;
  line-height: 1.5;
}

.jquery-comments ul.navigation .navigation-wrapper {
  padding: 20px !important;
}

.post__card-2 {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  max-width: 24.5rem;
  float: right;
}

.post__card_-2 {
  overflow: hidden;
  background-color: #fff;
  display: flex;
}

.post__card__image-2 {
  width: 165px;
  height: 7rem;
  background-size: cover;
  background-position: center;
}

.post__card_meta-2 {
  padding-top: 0;
  padding-right: 0.75rem;
  width: 190px;
  text-align: left;
}

.post__card_title-2 {
  font-size: 17px;
  font-weight: 700;
  margin: 0;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

.post__card_alttitle-2 {
  color: #4a5568;
  margin: 0;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  text-align: left;
  padding-top: 0.75rem;
  }

.text-desc{
  white-space: break-spaces;
  max-height: none;
}

/* @MEDIA */
@media screen and (max-width: 767px) {
  nav.main-nav {
    display: none;
  }

  #sound-bar {
    display: none;
  }

  #login-box {
    padding-bottom:350px;
  }

  #social-media {
    width: 100%;
    margin: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  #right-side {
    width: 100%;
  }

  #row2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top:0;
    padding-bottom: 0;
  }

  .head-1{
    padding: 0 30px;
  }

  .soundcloud{
    width:100%;
    padding: 10px;
  }
  .soundcloud-wrapper{
    width: 100%;
  }

  .hear-it-content p {
    font-size:18px;
    padding:10px ;
    width:100%;
  }

  #row2-wrapper{
    padding: 0;
  }

  #finish-heading{
    padding: 40px;
  }

  #row2-side-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
    background-color:#0c1b2b;
    border-bottom: 1px solid white;
  }

  #row2-a, #row2-b {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #right-side {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    text-align: center;
  }

  .box {
    width: 100%;
  }

  .keyboard, .amplifier, .speaker, .knob {
    margin: 10px 0;
    text-align: center;
    border-radius: 120px;
    padding:20px;
  }

  .keyboard {
    background-color: #fff;
    background-size: 400% 400%;
    border: 0;
    color: #333;
    border: 1px solid #ccc;
  }

  .keyboard:hover{
    -webkit-transform: skewY(0);
    -ms-transform: skewY(0);
    transform: skewY(0);
    -webkit-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
    background-color: white;
    border: 1px solid #ccc;
    color: #555;
    -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0);
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
  }

  .amplifier {
    background-color: white;
  }

  .amplifier:hover {
    -webkit-transform: skewY(0);
    -ms-transform: skewY(0);
    transform: skewY(0);
    -webkit-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
    background-color: white;
    border: 1px solid #ccc;
    color: #333;
    -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,.0);
    box-shadow: 0px 0px 0px rgba(0,0,0,.0);
  }

  .knob {
    -webkit-transform: skewY(0deg);
    -ms-transform: skewY(0deg);
    transform: skewY(0deg);
    -webkit-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
    background-color: #fff;
    background-size: 400% 400%;
    border: 0;
    color: #333;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,.6);
    box-shadow: 0px 0px 0px rgba(0,0,0,.6);
  }

  .speaker {
    -webkit-transform: skewY(0deg);
    -ms-transform: skewY(0deg);
    transform: skewY(0deg);
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    border: 1px solid #ccc;
    background-color: white;
    color:#333;
  }

  #slogan {
    text-align: center;
    margin: 0 auto;
  }

  #right-p img {
    width: 20%;
  }

  #right-p-2 img {
    width: 20%;
  }

  #right-p, #right-p-2 {
    text-align: center;
  }

  #break {
    margin-bottom: 20px;
    margin-top: 60px;
  }

  .review-wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .our-review {
    width: 60%;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
  }

  .our-review p {
    padding: 0;
  }

  .jrocky-image {
    width: 130px;
    height: auto;
    margin: 0 auto;
    border-radius: 1400px;
  }

  #cassette {
    display: none;
  }

  .right-image-review {
    -webkit-box-ordinal-group: -9;
    -ms-flex-order: -10;
    order: -10;
    margin: 10px auto;
  }

  .signature img {
    margin: 0;
  }

  #twitter, #facebook, #instagram {
    width: 40px;
    height: 40px;
  }

  #row5-left {
    display: none;
  }

  #row5-right {
    width: 100%;
    text-align: center;
  }

  #row5-right p {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto 40px auto;
    color: #fff;
    font-weight: 400;
  }
}
/* END of Media */
@media screen and (min-width: 320px) and (max-width: 766px) {
  #right-p-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }

  #right-p, #right-p-2 {
    width: 100%;
  }

  .review-wrapper {
    width: 100%;
  }

  .review-wrapper p {
    padding: 15px;
  }

  .our-review {
    width: 100%;
    padding-top: 30px;
    border: none;
  }

  #right-side {
    padding-bottom: 90px;
    border-bottom: 1px solid #ccc;
    margin-top: 30px;
  }

  #row5-right p {
    margin-bottom: 50px;
  }

  .footer-item1 {
    display: none;
  }

  #footer-wrapper {
    text-align: center;
  }

  .footer-item2 {
    display: none;
  }

  .footer-item4 {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .sm-icons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 21px;
  }

  .privacy {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  #right-p, #right-p-2 {
    -webkit-animation: 0;
    animation: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: none;
    padding-top: 60px;
    padding-bottom: 15px;
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
  }

  #right-p p, #right-p-2 p {
    padding: 20px;
    border: 0;
    width: 80%;
  }

  .break4 {
    display: none;
  }

  .title-4 h1 {
    color: #666;
    padding-top: 150px;
  }

  .signature img {
    margin-left: 40px;
  }

  #slogan {
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 10px;
  }
  .soundcomet-image-wrapper {
  height:350px;
}
  #row4 {
    background: rgb(255,255,255);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), color-stop(71%, rgba(132,220,198,1)));
    background: -o-linear-gradient(rgba(255,255,255,1) 0%, rgba(132,220,198,1) 71%);
    background: linear-gradient(rgba(255,255,255,1) 0%, rgba(132,220,198,1) 71%);
  }

  .footer-item4 .tb-form-field {
    display: none;
  }
  #login-box {
    padding-bottom: 300px;
  }
}



.logout-msg {
  background-color:red;
  text-align: center;
  transition: 2s;
  color: blue;
}

.logout-msg p {
    padding:12px;
    margin: 0;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);


.footer-distributed{
  font-family: Open Sans;
  background: black;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}


@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    flex-direction: column;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }
  .footer-center div {
    text-align: center;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }


}



